.mainBox {
  /* position: relative; */
  /* background-color: aqua; */
  margin-top: 80px;
}

.page4_title {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: 900;
  margin: 0 0 0 30px;
  z-index: 1;
  color: var(--brand-color);
}

.projectList {
  position: relative;
  /* background-color: aquamarine; */
  display: flex;
  /* position: absolute; */
  justify-content: center;
  /* position: absolute; */
  /* height: 1000px; */
}

.motion {
  animation-duration: 1s;
  animation-name: animate-bottom;
}

@keyframes animate-bottom {
  0% {
    transform: translate(0, 15%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.projectList li {
  width: 1000px;
  /* position: absolute; */
}

.projectList li img {
  width: 1000px;
  /* position: absolute; */
}

.prevBtn {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  /* background-color: aqua; */
  width: 430px;
  height: 130px;
  padding: 260px 0;
  color: var(--brand-color);
}

.nextBtn {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
  /* background-color: aqua; */
  width: 430px;
  height: 130px;
  padding: 260px 0;
  color: var(--brand-color);
}

.prevBtn:hover,
.nextBtn:hover {
  transform: scale(1.1);
  transition: fransform scale 0.1s ease-in-out;
}

.hoverText {
  background-color: black;
  position: absolute;
  top: 0;
  text-align: center;
  height: 93.3%;
  width: 94.5%;
  margin-left: 28px;
  box-sizing: border-box;
  border-radius: 25px;
  /* z-index: -3; */
  opacity: 0;
  transition: all 0.1s ease-in-out;
  color: white;
  padding: 100px 200px 0 200px;
  line-height: 25px;
}

.hoverText:hover {
  opacity: 0.8;
}
