body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
}

.page1 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  /* background-color: aquamarine; */
}

.page2 {
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.2); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  /* background-color: aquamarine; */
}

.page3 {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: hidden;
}

.page4 {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page5 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  /* padding-top: 80px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.page6 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  /* background-color: aquamarine; */
}

.page7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.page8 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  /* background-color: aquamarine; */
}

.page9 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}
